.logo {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ededed;
}

.foot {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: #495E57;
}

li {
    font-size: 20px;
    list-style: none;
}

ul {
    padding: 0;
    text-align: center;
}

.copyright {
    font-size: 16px;
    padding: 20px;
}

@media only screen and (min-width: 768px) {
    .logo {
        display: block;
        max-height: 100%;
    }

    footer {
        display: block;
        text-align: left;
    }

    li {
        text-align: left;
    }

    .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 25px 0 0;
        padding: 50px;
        text-align: left;
    }

    .copyright {
        text-align: center;
    }
}